@import "tailwindcss";

* {
  @apply antialiased;
  text-rendering: geometricPrecision;
}

::-moz-selection {
  @apply bg-zinc-600 text-white;
  -webkit-text-fill-color: white;
}

::selection {
  @apply bg-zinc-600 text-white;
  -webkit-text-fill-color: white;
}

@theme {
  --font-sans: var(--sans-font);

  --easing: cubic-bezier(0.16, 1, 0.3, 1);

  --animate-slide-down-and-fade: slide-down-and-fade 400ms var(--easing);
  --animate-slide-left-and-fade: slide-left-and-fade 400ms var(--easing);
  --animate-slide-up-and-fade: slide-up-and-fade 400ms var(--easing);
  --animate-slide-right-and-fade: slide-right-and-fade 400ms var(--easing);

  --animate-slide-down: slide-down 400ms var(--easing);
  --animate-slide-up: slide-up 400ms var(--easing);
  --animate-slide-left: slide-left 400ms var(--easing);
  --animate-slide-right: slide-right 400ms var(--easing);

  --animate-fade-in: fade-in 400ms var(--easing);

  --animate-marquee: marquee 25s linear infinite;
  --animate-swing: swing 1s infinite ease-in-out alternate;
  --animate-scale: scale 150ms cubic-bezier(0.4, 0, 0.2, 1);
  --animate-shake: shake 150ms cubic-bezier(0.4, 0, 0.2, 1);

  --animate-rise: rise 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  @apply mx-auto md:w-[680px] px-[1rem] md:px-0;
}

.command-item[aria-selected="true"] {
  @apply after:scale-100 after:opacity-100;
}

.hover-bg {
  @apply relative z-1 active:scale-95;

  @apply after:rounded-lg after:bg-zinc-800;
  @apply after:absolute after:bottom-0 after:left-0 after:z-[-1] after:size-full;
  @apply after:origin-center after:scale-90 after:opacity-0 after:transition-all;

  @apply hover:after:scale-100 hover:after:opacity-100 focus:after:scale-100 focus:after:opacity-100;
}

.hover-bg.hover-bg-dark {
  @apply after:bg-zinc-900;
}

.text-gradient-blue {
  background: -webkit-linear-gradient(top left, #03cffe, #397dd6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-red {
  background: -webkit-linear-gradient(top left, #e95d0f, #d61f5f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-yellow {
  background: -webkit-linear-gradient(top left, #ffc900, #ffa101);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-green {
  background: -webkit-linear-gradient(top left, #04c100, #038100);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-purple {
  background: -webkit-linear-gradient(top left, #ff00a8, #cc0086);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Keyframe Definitions */
@keyframes slide-down-and-fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-left-and-fade {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-up-and-fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-right-and-fade {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-left {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(10px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes swing {
  from {
    transform: rotate(3deg);
  }
  to {
    transform: rotate(-3deg);
  }
}

@keyframes scale {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rise {
  from {
    transform: translate(-50%, -40%) scale(0.95);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
