@charset "utf-8";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Space Grotesk";
  src: url("./SpaceGrotesk-Variable.ttf") format("truetype supports variations");
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}

::-moz-selection {
  @apply text-white;
  @apply bg-blue-600;
  -webkit-text-fill-color: white;
}

::selection {
  @apply text-white;
  @apply bg-blue-600;
  -webkit-text-fill-color: white;
}

* {
  box-sizing: border-box;
  transition: background-color 200ms ease-out, color 200ms ease-out;
  cursor: url("../assets/icons/circle.svg") 15 15, auto;
}

button {
  cursor: url("../assets/icons/circle.svg") 15 15, auto;
}

.text-gradient-blue {
  background: -webkit-linear-gradient(top left, #03cffe, #397dd6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-gradient-red {
  background: -webkit-linear-gradient(top left, #e95d0f, #d61f5f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-yellow {
  background: -webkit-linear-gradient(top left, #ffc900, #ffa101);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blog-link {
  z-index: 1;

  @apply relative;
}

.blog-link::after {
  content: "";
  z-index: -1;
  transform-origin: bottom center;
  transition: transform 0.25s;

  @apply rounded-lg;
  @apply absolute;
  @apply bottom-0;
  @apply left-0;
  @apply w-full;
  @apply h-full;
  @apply bg-zinc-800;
  @apply scale-y-0;
}

.blog-link:hover::after {
  @apply scale-y-100;
}
